
<h3><%= @travel.name %></h3>

<p><%= @travel.description %></p>
<p><%= @travel.recommendation %></p>
<p><%= @travel.distance %></p>

<% if Helpers.current_user(session) == @travel.user %>
<a href="/travels/<%=@travel.id%>/edit">Edit Travel</a>


<form action="/travels/<%=@travel.id%>/delete" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>

<% end %>